aiohttp==3.6.3
alabaster==0.7.8
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.2.3
async-timeout==3.0.1
attrs==20.2.0
Babel==2.4.0
backcall==0.2.0
beautifulsoup4==4.6.0
Brlapi==0.6.6
cachetools==4.1.1
certifi==2018.1.18
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorz==1.0.3
command-not-found==0.3
configobj==5.0.6
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.7
decorator==4.4.2
defer==1.0.6
distlib==0.3.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.3
django-chartjs==2.0.0
django-heroku==0.3.1
django-latexify==0.2.1
djangorestframework==3.11.0
docopt==0.6.2
docutils==0.14
filelock==3.0.12
Flask==0.12.2
fsspec==0.8.4
gcsfs==0.7.1
gitignore==0.0.8
google-api-core==1.22.4
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-cloud-bigquery==2.1.0
google-cloud-core==1.4.3
google-cloud-speech==2.0.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
greenlet==0.4.15
grpcio==1.32.0
handcalcs==0.2.0
httplib2==0.9.2
idna==2.6
idna-ssl==1.1.0
image==1.5.33
imagesize==0.7.1
importlib-metadata==1.5.0
importlib-resources==1.1.0
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.10
kiwisolver==1.1.0
libcst==0.3.13
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.1.3
mpmath==1.1.0
msgpack==1.0.0
multidict==4.7.6
mypy-extensions==0.4.3
nemo-emblems==4.4.0
neovim==0.3.1
netifaces==0.10.4
networkx==2.4
numpy==1.18.1
oauthlib==3.1.0
onboard==1.4.1
packaging==20.3
PAM==0.4.2
pandas==1.0.3
parso==0.8.1
pexpect==4.2.1
pickleshare==0.7.5
Pillow==5.1.0
powerline-status==2.7
prompt-toolkit==3.0.18
proto-plus==1.10.1
protobuf==3.13.0
psutil==5.4.2
psycopg2==2.8.4
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
Pygments==2.2.0
pygobject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
pymacaroons==0.13.0
pymessenger==0.0.7.0
PyNaCl==1.1.2
pynvim==0.4.3
pyparsing==2.4.6
pyparted==3.11.1
pyperclip==1.8.2
pyRFC3339==1.0
pytesseract==0.3.7
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.1
python-debian==0.1.32
python-xapp==1.8.1
python-xlib==0.20
pytz==2019.3
pywal==3.3.0
pywalfox==2.7.3
pyxdg==0.25
PyYAML==5.3.1
ranger-fm==1.9.3
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.1.5
roman==2.0.0
rsa==4.6
scipy==1.4.1
selenium==3.141.0
sessioninstaller==0.0.0
setproctitle==1.1.10
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.0
static3==0.7.0
sympy==1.5.1
system-service==0.3
systemd-python==234
tesseract==0.1.3
tesseract-ocr==0.0.1
tinycss==0.4
traitlets==4.3.3
typing-extensions==3.7.4.3
typing-inspect==0.6.0
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.0.22
Unipath==1.1
urllib3==1.22
virtualenv==20.0.9
wcwidth==0.2.5
Werkzeug==1.0.1
whitenoise==5.0.1
xkit==0.0.0
yarl==1.5.1
zipp==3.0.0
