@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,600&display=swap');


html, body {
  margin: 0;
  /*all:unset;*/
  background-color: #F8F8F8;
  background-image:white;
    box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
* {
      box-sizing: inherit;
}

nav > ul > li>  a{
	color: #f6f7f8;
	background: #1c3d6c;
	height: 64px;
	display:flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: background 0.4s;
}

nav >ul > li >  a:hover {
	background: #c5911f;
}


nav >  ul{
	list-style: none;
	display: flex;
    justify-content:flex-end;
    background-color:#1c3d6c;
    padding:0;
    margin:0;
}

nav >  ul > li {
	text-align: center;
	position: relative;
    padding:0  20px ;
}

nav> ul >  li:hover .submenu > li {
	display: block;
	flex-direction: column;
	top: 0px;
}

nav > ul :first-child {
    margin-right:auto;
}
.submenu li {
	display:none;
	position: relative;
    text-align:left;
	top: 0px;
    padding:10px 10px;
    margin:0;
}
.submenu li:hover {
    background-color:#c5911f;
}


.submenu a {
    color: white;
    text-decoration:none;
}
.submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
    color:white;
    list-style:none;
    padding:0;
    margin:0;
    background-color:#1c3d6c;
}

.submenu li:hover .submenu-2 li {
	display:block;
}

.submenu-2 li {
	display:none;
}

.submenu-2 { 
	display:flex;
	flex-direction: column;
	position: absolute;
	top: 0px;
    padding:0;
    margin:0;
	left: 100px;
	width: 120px;
    background-color:#1c3d6c;
}

.arrow { 
	margin-left: 8px;
	color: #eee;
	font-size:12px;
}


#layout {
  display: grid;
  height: 100%;
  grid-template-areas: "nav nav nav nav nav "
                       "slider slider slider slider slider"
                       "lef con con con .  " 
                       "footer footer footer  footer footer";
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto auto auto auto;
  background:transparent;
}
#nubes {
    position:absolute;
  display: grid;
  height: 100%;
  width:100%;
  z-index:-1;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(100,calc(100%/8));
}
.nube {
    position:absolute;
    display:none;

}
nav {
  grid-area: nav;
}

/* barrita lateral*/
aside {
  grid-area: lef;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 215px;
	width: 70px;
  position: sticky;
  top:10vh;
	font-family: "Roboto", sans-serif;
  margin-left:20px;
  margin-right:20px;
  margin-top:15px;
	background-color: #1c3d6c;
}
aside ul {
  position: sticky;
  all: unset;
  list-style: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
aside li{
	display:flex;
  margin:0 auto;
  margin-top: 5px;
}
aside li:hover{
	transform: translateY(-3px) scale(1.1);
}

div{
  grid-area: puntos;
}

main {
  grid-area: con;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
#canvas {
    width:100%;
    height:100%;
}
.carrusel {
   grid-area:slide;
}

.card {
  margin: 1rem;
  background: #aaa;
  font-family: "Roboto", sans-serif;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  color: #1E90FF;
    transition: all 0.2s linear;
  text-align: center;
  flex-grow: 1;
  width: 35%;
}
.card h1 {
  margin: 0 0 2rem 0;
  padding: 2rem 1.5rem;
  max-height:200px;
  overflow:hidden;
  padding-top: 0rem;
  background-color: #fff;
  border: 0.0625rem solid linear-gradient(120deg, #DA2826, 0%, #25D7D9, 100%);
  transition: max-height 0.5s linear;
  font-size:0.9em;
  text-align:left;
}
.card h3 {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.3rem;
}
.card button { 
    all:unset;

}

.bordes {
  border-bottom: 0.0625rem solid #1a1a2e;
  display:none;
}

.card:hover {
  transform: translateY(-10px) scale(1.1);
}

/* forms es el estilo para todos los formularios que se deban llenar*/

.login-container {
    height:100vh;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:center;
    justify-content:center;
}
.forms {
background-color:transparent;
    font-size:1.5em;
    border:1px solid transparent;
    border-radius:11px;
    padding: 10px 20px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
}
.forms > h3 {
  font-family: "Roboto", sans-serif;
  color:white;
}
.login-aclaracion {
   background: transparent; 
}
.gradient_bg {
    background:revert;
    animation:revert;
    background-image: linear-gradient( 45deg,#1C3D6Cff, #384B5Fff, #545952ff, #716746ff, #8D7539ff, #A9832Cff, #C5911Fff) !important;
    background-size:500% ;
    animation: bg-change 5s infinite alternate;
    height:100vh;
}
@keyframes bg-change {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
}
input[type="password"],[type="text"]  {
    background:rgba(255,255,255,0.1) !important;
    border:0.1px solid rgba(255,255,255,0.5);
    border-radius:5px;
    padding:10px 5px;
    min-width:100%;
    max-width:100%;
}
input[type="submit"] {
    background:rgba(255,255,255,0.1) !important;
    width:100%;
    margin:0;
    font-size:1em;
    border-radius:5px;
    border : 1px white solid;
    color:white;
    padding: 5px;
}
input[type="submit"]:hover {
    background-color : #5184ff;
}
::placeholder {
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  text-align:center;
}
.forms > p > {
    width:100%;
}
 @media only screen and (max-width: 768px) {
     .login-aclaracion {
        display:none;
     }
     .form-datos {
        order:2;
     }
}
 @media only screen and (max-width: 1177px) {
     .login-aclaracion {
         order: 3;
     }
     .anuncio {
         width:100%;
        order:1;
     }
     .form-datos {
        order:2;
     }
}
.invert {
    filter: invert(100%);
}

.form-datos {
   display:grid; 
   gap:20px;
}
.aviso-registro {
    /*mar: 10px 10px;*/
    color:white;
    text-decoration: none;
    transition:0.5s;
}
.aviso-registro:hover{
    color:#5184ff;
}
.aviso-error {
    border: 0.5px red solid;    
    border-radius:5px;
    padding:10px 5px;
    color:white;
    background-color: rgba(255, 99, 71,0.1);
    text-align:center;
}
.anuncio {
   font-size:9em; 
   font-family: 'Karla', sans-serif;
   color:white;
   text-align:center;
   align-self:stretch;
}
.anuncio-registro{
   font-size:9em; 
   font-family: 'Karla', sans-serif;
   color:white;
   text-align:center;
   align-self:center;
   padding-left:10px;
   font-weight: 700;
}
.anuncio-registro:hover,.anuncio:hover {
    
    animation: shadows 0.5s infinite alternate ;
}
@keyframes shadows {
    0% { text-shadow: 5px 5px 0px #1C3D6Cff;}
    14% { text-shadow: 5px 5px 0px #1C3D6Cff, 
            10px 10px 0px #384B5Fff;}
    28% { text-shadow: 5px 5px 0px #1C3D6Cff, 
            10px 10px 0px #384B5Fff, 
                    15px 15px 0px #545952ff;}
   42% { text-shadow: 5px 5px 0px #1C3D6Cff, 
       10px 10px 0px #384B5Fff, 
       15px 15px 0px #545952ff, 
       20px 20px 0px #716746ff;}
   59%{ text-shadow: 5px 5px 0px #1C3D6Cff, 
       10px 10px 0px #384B5Fff, 
       15px 15px 0px #545952ff, 
       20px 20px 0px #716746ff, 
       25px 25px 0px #8D7539ff;}
   73%{text-shadow: 5px 5px 0px #1C3D6Cff, 
       10px 10px 0px #384B5Fff, 
       15px 15px 0px #545952ff, 
       20px 20px 0px #716746ff, 
       25px 25px 0px #8D7539ff,
       30px 30px 0px #A9832Cff;}
   84% {text-shadow: 5px 5px 0px #1C3D6Cff, 
           10px 10px 0px #384B5Fff, 
           15px 15px 0px #545952ff, 
           20px 20px 0px #716746ff, 
           25px 25px 0px #8D7539ff, 
           30px 30px 0px #A9832Cff, 
       35px 35px 0px #C5911Fff;}
   100% {text-shadow: 5px 5px 0px #1C3D6Cff, 
           10px 10px 0px #384B5Fff, 
           15px 15px 0px #545952ff, 
           20px 20px 0px #716746ff, 
           25px 25px 0px #8D7539ff, 
           30px 30px 0px #A9832Cff, 
       35px 35px 0px #C5911Fff;}

}

footer > ul {
    position:absolute;
    list-style:none;
    margin:0;
    padding:0;
}
footer {
  grid-area: footer;
  margin : 0;
  background-color:transparent;
}

#salvapantallas { 
  background: #00000060;
  position: absolute; 
  width: 100%; 
  height: 100%; 
  left: 0px;
  top: 0px; 
  display: none; 
  z-index: 9999; 
}

.panel {
    margin:0;
    padding:10px 10px;
    color:white;
    font-size:1em;
    
}
.panel > p{
    /*display:flex;*/
    /*flex-direction:row;*/
    /*align-items:center;*/
}
.user {
    display:flex;
    flex-direction:row;
    color:white;
}
.user > h3{
    margin-left:50px;
}
button {
    background:rgba(255,255,255,0.1);
    width: 100%;
    margin:0;
    font-size:1em;
    border-radius:5px;
    border : 1px white solid;
    color:white;
    padding: 5px;
}
.circular {
  border-radius: 50%;
  width:50px;
  height:50px;
}

#error {
    border: 0.5px red solid;    
    border-radius:5px;
    padding:10px 5px;
    color:red;
    background-color: rgba(255, 99, 71,0.1);
    text-align:center;
}

/*Carrusel*/

.carrusel {
  grid-area: slider;
  position: relative;
  margin: auto;
}

img{
  width:100%;
}

.pagina {
  display: none;
}

.ant, .sig {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.sig {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.ant:hover, .sig:hover {
  background-color: rgba(0,0,0,0.8);
}

.punto {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .punto:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}