<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <title></title>
    </head>
    <body>
        <!--<canvas id="canvas"></canvas>-->
        <section id="layout">
            <nav>
                <ul>
                    <li>Webmac</li>
                    <li>Inicio</li>
                    <li>Admision</li>
                    <li>Alumnos</li>
                    <li>Egreso</li>
                    <li>Administrativos</li>
                    <li>Nosotros</li>
                </ul>
            </nav> 
            <div id="foto1" class="carrusel"> hola </div>
            <div id="foto2" class="carrusel"> hola </div>
            <div id="foto3" class="carrusel"> hola </div>
            <aside>
                <ul>
                    <li>Inicio</li>
                    <li>Admision</li>
                    <li>Alumnos</li>
                    <li>Egreso</li>
                    <li>Administrativos</li>
                    <li>Nosotros</li>
                </ul>
            </aside>
            <main id="content"> </main>
            <footer>bor</footer>
        </section>
        <script src="js/index.js"></script>
    </body>
</html>
