<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Página Principal</title>
  </head>
  <body>
    <section id="layout">
      <nav>
        <ul>
          <li>Webmac</li>
          <li>Inicio</li>
          <li>Admision</li>
          <li>Alumnos</li>
          <li>Egreso</li>
          <li>Administrativos</li>
          <li>Nosotros</li>
        </ul>
      </nav>
      <div id="foto1" class="carrusel"> hola </div>
      <div id="foto2" class="carrusel"> hola </div>
      <div id="foto3" class="carrusel"> hola </div>
      <aside>
        <ul>
          <li>Inicio</li>
          <li>Admision</li>
          <li>Alumnos</li>
          <li>Egreso</li>
          <li>Administrativos</li>
          <li>Nosotros</li>
        </ul>
      </aside>
      <main id="content"> </main>
      <footer>bor</footer>
    </section>
    <canvas id="salvapantallas"></canvas>
  </body>
  <script src="js/index.js" defer></script>
  <script src="js/canvas.js" defer></script>
</html>
