<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
    <title>{% block title %}{% endblock %}-WEBMAC</title>
      <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <audio id="vapor">
        <source src="multimedia/audio/mac2.mp3"></source>
    <footer>
        <ul>
            <li>lo</li>
        </ul>
    </footer>
    <script>
        var audio = $("#vapor")[0];
        $(".anuncio").mouseenter(function() {
            audio.play();
        });
        $(".anuncio").mouseout(function() {
            audio.pause();
        });
    </script>
</html>
