<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action = "/login" method = "POST">
         <p><h3>Ingresa tus datos</h3></p>
         <p><input type = 'text' name = 'username'/></p>
         <p><input type = 'password' name = 'password'/></p>
         <p><input type = 'submit' value = 'Login'/></p>
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
</body>
</html>
