{% extends "layout.html" %}
{% block content %}
<div class="gradient_bg">
    <div class="login-container">
        <div class="form-datos">
            <form class="panel" action = "/login" method = "POST">
                <p><h3>Tus datos</h3></p>
                <p><input required placeholder="Usuario" type = 'text' name = 'username'/></p>
                hola 
                <p>
                hola
                <input style="display:inline;" required placeholder="Contraseña" type = 'password' name = 'password'/></p>
                <p><input  type = 'submit' value = 'Ingresar'/></p>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!--<ul class=flashes>-->
            {% for message in messages %}
            <b class="aviso-error">{{ message }}</b>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <a class="aviso-registro" href="/register">
                <strong>¿Aún no tienes cuenta? registrate aquí.</strong>
            </a>
        </div>
    </div>
</div>

{% endblock  %}


