<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Registro</title>
  </head>
  <body>
    <form action = "/register" method = "POST">
      <h3>Registrate</h3>
      <label for="username">Usuario</label><br>
      <input type="text" name = "username" id="username" required/>
      <br><br>

      <label for="password">Contraseña</label><br>
      <input type="password" name="password" id="password" required/>
      <br><br>

      <input type="submit" value="Registrar"/>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </body>
</html>
